#playBtn {
    width: 50%;
    margin: 10%;
}

#mainTitle{
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
}

.maniContainer {
    background-color: white;
}

#wordToGuess {
    align-self: center;
    float: none;
    margin-left: 10%;
    font-family: 'Roboto Mono', monospace;
}

/* #hangmanImg {

} */