#playBtn {
    margin-top: 10%; 
}

#mainTitle{
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
    float: none;
    text-align: center;
    width: 100%;
}

#wordToGuess {
    font-family: 'Roboto Mono', monospace;
}
