#playBtn {
    margin-top: 10%; 
    overflow: auto;
    overflow-wrap: normal;
}

#mainTitle{
    font-family: 'Luckiest Guy', cursive;
    align-content: center;
    float: none;
    text-align: center;
    width: 100%;
}

.maniContainer {
    background-color: white;
    min-height: 80%;
    overflow-wrap: break-word;
}

#wordToGuess {
    align-self: center;
    float: none;
    /* margin-left: 10%; */
    font-family: 'Roboto Mono', monospace;
}

.centerColumn {
    align-content: center;
    display: inline;
}